@using Dominio.Entidades
@{
    ViewBag.Title = "Wonderland";
}
@model List<Post>;

@if (ViewBag.MensajeError != null)
{
    <h2 class="alert-danger text-center">@ViewBag.MensajeError</h2>
}

<!-- formulario de búsqueda -->
<form method="post" action="/Post/Buscar">
    <label>Buscar Post</label>
    <input type="text" name="nombrePersona" placeholder="Nombre de un amigo" />
    <input type="submit" value="Buscar" />
</form>

@foreach (Post post in Model)
{
    List<Comentario> comentariosDelPost = post.DevolverListaComentarios();
//CORREGIR QUE SE PUEDE REACCIONAR AL CONTENIDO 2 LIKE Y SE PUEDE QUE GUSTE Y NO GUSTE A LA VEZ
    <div class="post-container">
        <h2>@post.Autor</h2>
        <div>
            <div>@post.Contenido</div>
            <div class="icon-container">
                <span>@post.CantidadMeGusta()</span><a href="/Post/Reaccionar?id_post=@post.Id&id_comentario=-1&type=like"><i class='bx bxs-donate-heart icon like'></i></a>
                <span>@post.CantidadNoMeGusta()</span><a href="/Post/Reaccionar?id_post=@post.Id&id_comentario=-1&type=dislike"><i class='bx bxs-upside-down icon dislike'></i></a>
            </div>
            @foreach (Comentario comentario in comentariosDelPost)
            {
                <div class="border rounded single-comment-container">
                    <p class="date-data">@comentario.Fecha</p>
                    <p class="author-name">@comentario.Autor</p>
                    <p class="comment-content">@comentario.Contenido</p>
                    <div class="icon-container ">
                        <span>@comentario.CantidadMeGusta()</span><a href="/Post/Reaccionar?id_post=@post.Id&id_comentario=@comentario.Id&type=like"><i class='bx bxs-donate-heart icon single-comment-icon like'></i></a>
                        <span>@comentario.CantidadNoMeGusta()</span><a href="/Post/Reaccionar?id_post=@post.Id&id_comentario=@comentario.Id&type=dislike"><i class='bx bxs-upside-down icon single-comment-icon dislike'></i></a>
                    </div>
                </div>
            }
            <form method="post" class="make-a-comment">
                <label>Realizar un comentario</label>
                <textarea name="comentario" placeholder="Ingrese su comentario"></textarea>
                <input type="submit" id="btn_comentario" value="Enviar Comentario" />
            </form>
        </div>
    </div>
}
<form method="post" action="/Post/Buscar">
    <input type="text" name="texto" placeholder="Ingrese el texto a buscar aqui..." />
    <input type="number" name="aceptacion" placeholder="Ingrese el valore de aceptacion a buscar aqui..." />
    <input type="submit" value="Buscar" />
</form>
