

<h2>Lista de Amigos</h2>
<ul>
    @foreach(Miembro amigo in Model.Amigos)
    {
        <li>@amigo.Nombre - (@amigo.Email)</li>
    }
</ul>

<h2>Solicitudes Pendientes</h2>
<ul>
    @foreach(Solicitud solicitud in Model.SolicitudesPendientes)
    {
        <li>
            @solicitud.Nombre - (@solicitud.Email)
            <a href="/Amigos/AceptarSolicitud?email=@solicitud.Email">Aceptar</a>
            <a href="/Amigos/RechazarSolicitud?email=@solicitud.Email">Rechazar</a>
        </li>
    }
</ul>

<h2>Usuarios no Amigos</h2>
<ul>
    @foreach (Miembro usuario in Model.UsuariosNoAmigos)
    {
        <li>
            @usuario.Nombre - (@usuario.Email)
            <a href="/Amigos/EnviarSolicitud?email=@usuario.Email">Enviar Solicitud</a>
        </li>
    }
</ul>
